:root {
	--color-base03: #002b36;
	--color-base02: #073642;
	--color-base01: #586e75;
	--color-base00: #657b83;
	--color-base0: #839496;
	--color-base1: #93a1a1;
	--color-base2: #eee8d5;
	--color-base3: #fdf6e3;
	--color-yellow: #b58900;
	--color-orange: #cb4b16;
	--color-red: #dc322f;
	--color-magenta: #d33682;
	--color-violet: #6c71c4;
	--color-blue: #268bd2;
	--color-cyan: #2aa198;
	--color-green: #859900;
}

body {
	color: var(--color-base00);
	background: var(--color-base2);
	padding: 0;
	margin: 0;
}

.cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 10rem;
	min-width: 100%;
	border-radius: 2px;
}

body > header {
	color: var(--color-base0);
	background-color: var(--color-base02);
	font-size: 150%;
	padding: 1rem;
}
body > header a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

section,
article,
aside,
main > header,
body > footer {
	background: var(--color-base3);
	margin: 5vw;
	padding: 5vw;
	filter: drop-shadow(1px 1px 5px var(--color-base1));
	border-radius: 2px;
}

h1 {
	color: var(--color-blue);
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 2px;
	max-width: 100vw;
}

aside {
	width: 30%;
}
