<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		{{- partial "header.html" . -}}
		<main>
			<div id="cover" class="cover" {{with .Params.cover}} style="background-image: url('{{.}}')" {{end}}></div>
			{{- block "main" . }}{{- end }}
		</main>
		{{- partial "footer.html" . -}}
	</body>
</html>
