{{define "main"}}
	<div class="content">
		<article>
			<h1>{{.Title}}</h1>
			{{.Content}}
		</article>
		<aside>
			<div>
				{{ $taxos := slice "tags" "seasons" }}
				{{ range $term := $taxos }}
					{{ with $.Param $term }}
						<h4>{{$term}}:</h4>
						{{ range $index, $value := . }}
							{{ with $.Site.GetPage (printf "/%s/%s" $term ($value|urlize|lower)) }}
								<a href="{{ .Permalink }}">{{ $value }}</a>
							{{end -}}
						{{- end -}}
					{{ end }}
				{{end}}
			</div>

			<div>
				{{$related := (where .Site.RegularPages "Type" "recipes")}}
				{{$related := (where $related ".Params.seasons" "intersect" .Params.seasons)}}
				{{$related := (where $related ".Title" "!=" .Title)}}
				{{with $related}}
					<h4>Same seasons recipes</h4>
					<ul>
						{{range . }}
							<li>
								<a href="{{.Permalink}}">{{.Title}}
									{{.Type}}</a>
							</li>
						{{end}}
					</ul>
				{{end}}
			</div>

			<div>
				<h4>Playlist</h4>
				{{$pages := and (where .Site.RegularPages "Type" "songs") (where .Site.RegularPages ".Params.seasons" "intersect" .Params.seasons)}}

				{{range $pages }}
					{{with .Params.youtube}}
						{{partial "youtube.html" .}}
					{{end}}
				{{end}}
			</div>
		</aside>
	</div>
{{end}}
